@model BarbershopEntity.Entity.LoginEntity

@{
    ViewData["Title"] = "Inicio";
}

@{
    if (!string.IsNullOrEmpty(ViewBag.LoginError))
    {

        <br />
        <br />

        <div class="row">
            <div class="col-md-4"> </div>

            <div class="col-md-4" align="center">
                <div class="alert alert-danger">
                    <strong>@ViewBag.LoginError</strong>
                </div>
                <form asp-action="Login">
                    <input align="center" type="submit" value="Volver" class="btn btn-success" />
                </form>
            </div>

            <div class="col-md-4"> </div>
        </div>


    }
    else
    {

        <div class="row" align="center">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <img src="/image/Barber.png" class="BarberLogo">
            </div>

            <div class="col-md-3">
                <a asp-action="Login" class="Salir">
                    <img src="/image/salir.png" class="ImageSalir" />
                </a>
            </div>

        </div>

        <br />
        <br />

        <div class="row" align="center">

            <div class="col-md-3">
                <div class="col-md-1"></div>

                <div class="col-md-10 Menu">
                    <p class="h5 TextIcon">Agenda</p>
                    <img src="/image/Agendar.png" class="ImageIcon" />
                    <form asp-action="Reservation">
                        <button class="btn btn-primary BotonIncon">Agendar</button>
                    </form>
                </div>

                <div class="col-md-1"></div>
            </div>

            <div class="col-md-3">
                <div class="col-md-1"></div>

                <div class="col-md-10 Menu">
                    <p class="h5 TextIcon">Historial</p>
                    <img src="/image/Historial.png" class="ImageIcon" />
                    <button class="btn btn-primary BotonIncon">Ver</button>
                </div>

                <div class="col-md-1"></div>
            </div>

            <div class="col-md-3">
                <div class="col-md-1"></div>

                <div class="col-md-10 Menu">
                    <p class="h5 TextIcon">Actualiza</p>
                    <img src="/image/Actualizar.png" class="ImageIcon" />
                    <button class="btn btn-primary BotonIncon">Editar</button>
                </div>

                <div class="col-md-1"></div>
            </div>

            <div class="col-md-3 ">
                <div class="col-md-1"></div>

                <div class="col-md-10 Menu">
                    <p class="h5 TextIcon">Cancela</p>
                    <img src="/image/Cancelar.png" class="ImageIcon" />
                    <button class="btn btn-primary BotonIncon">Cancelar</button>
                </div>

                <div class="col-md-1"></div>
            </div>

        </div>

        <button type="button" class="btn btn-primary Hide" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form asp-action="Home">
                            <div asp-validation-summary="ModelOnly" class="text-danger2"></div>
                            <div class="form-group">
                                <label asp-for="Id" class="control-label">Identificación</label>
                                <input asp-for="Id" class="form-control textData" />
                                <span asp-validation-for="Id" class="text-danger2"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Passwork" class="control-label">Contraseña</label>
                                <input asp-for="Passwork" type="password" class="form-control textData" />
                                <span asp-validation-for="Passwork" class="text-danger2"></span>
                            </div>
                            <div class="form-group" align="center">
                                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <iframe src="/Barbershop/Login" height="200" width="300" title="Iframe Example"></iframe>-->

    }

}

